.soundContainer {
  .p {
    font-size: 16px;
    padding: 10px 0 5px 0px;
    text-decoration: none;
  }
}

.mixContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;

  .textWrapper {
    border-top: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin-top: 40px;
  }
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: left;
  }
}

.imageWrapper {
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.soundButtonWrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.soundMixButtonWrapper {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 45px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.textWrapper {
  flex-grow: 1;
  max-width: 500px;
  flex: 1;
  margin-top: 15px;
  padding-left: 2px;
  .span {
    font-size: 16px;
  }
  .a {
    text-decoration: underline;
    margin: 0;
  }

  .p {
    margin-bottom: 5px;
  }
}
